body {
    background-image: url("../images/loginBac.jpg");;
    background-size: 100%;
    background-repeat: no-repeat;
}

#register_frame {
    width: 600px;
    height: 260px;
    padding: 26px;

    position: absolute;
    left: 30%;
    top: 30%;
    margin-left: -100px;
    margin-top: -100px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}


.label_input {
    font-size: 14px;
    font-family: verdana;

    width: 180px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #0145ac;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

#btn_register {
    font-size: 14px;
    font-family: verdana;

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #0145ac;
    border-radius: 6px;
    border: 0;

    float: middle;
}

}

#register_control {
    padding: 0 28px;
}