asgiref==3.2.10
boto3==1.15.6
botocore==1.18.6
Django==3.1.1
django-cors-headers==3.5.0
django-filter==2.4.0
django-storages==1.10.1
django-templated-mail==1.1.1
djangorestframework==3.11.1
djoser==2.0.5
jmespath==0.10.0
psycopg2-binary==2.8.6
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
