button {
	background-color: #82c7a5;
	border: none;
	padding: 5px 15px;
	margin: 30px 10px;
	font-size: 16px;
}

.AccountContainer {
	width: 100%;
	height: 100%;
	text-align: center;
}

#patientInfoTable {
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}
