.ReportsContainer {
	border: 2px solid black;
	border-radius: 25px;
	width: 80%;
	height: 20%;
	margin-right: 5%;
	margin-bottom: 20%;
	background-color: white;
}

.bottomContainer {
	border: 2px solid black;
	border-radius: 25px;
	width: 80%;
	height: 20%;
	background-color: white;
	font-family: Bebas;
}

.textBasedReport {
	margin-bottom: 3%;
	font-family: Bebas;
	font-size: 40px;
}

.reportDataTable {
	width: 100%;
	margin-top: 3%;
}
